* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

div#root {
  height: 100%;
  width: 100%;

  & div.container {
    background-color: #f5f7fa;
    height: 100%;
    width: 100%;

    & header {
      width: 100%;
      background-color: #1a1a1a;
      color: #fff;
      position: fixed;
      z-index: 4;

      & div.title-header {
        background-color: #1a1a1a;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px;
        gap: 10px;

        & hr {
          border: 2px solid #fff;
          border-radius: 6px;
          width: 280px;
        }
      }

      & div.button-nav-header {
        display: none;
      }
    }

    div.nav-header {
      background-color: #fff;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.208);
      width: 100%;
      position: fixed;
      top: 140px;
      z-index: 3;
      display: flex;
      justify-content: center;

      & nav {
        height: 100%;
        width: 1600px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
      }

      & div > a {
        border-radius: 6px;
        height: 100%;
        width: 100%;
        text-align: center;
        padding: 12px;
        color: #1a1a1a;
        font-weight: 400;
        text-decoration: none;
        font-size: 1rem;
        position: relative;
        transition: all 0.6s ease;

        &:hover {
          color: #1a1a1a;
          font-weight: 600;
        }

        &::after {
          background-color: #1a1a1a;
          content: "";
          height: 3px;
          width: 0;
          position: absolute;
          left: 0;
          bottom: -2px;
          transition: width 0.5s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }

    & main {
      height: 100%;
      width: 100%;
      padding-top: 200px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      & section {
        height: 100vh;
        width: 100%;
        position: static;
      }

      & section#home {
        padding-top: 5px;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        & div.button-home-area {
          height: 70%;
          display: flex;
          align-items: center;
        }

        & article {
          margin: 100px;
          padding: 40px;

          & p {
            width: 300px;
          }
        }

        & div.button-home {
          height: 300px;
          display: flex;
          align-items: center;

          & a {
            text-decoration: none;
            border: none;
            border-radius: 6px;
            background-color: #1a1a1a;
            color: #fff;
            padding: 20px;
            cursor: pointer;
            font-size: 1rem;
            transition: all 0.6s ease;

            &:hover {
              border-radius: 12px;
              transform: scale(0.95);
            }
          }
        }
      }

      & section#about {
        background-color: #1a1a1a;
        color: #fff;
        padding: 30px;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        & article {
          padding: 30px;

          & ul {
            width: 440px;

            & li {
              margin: 18px;
            }
          }
        }

        & div.image-about {
          background-color: #1a1a1a;
          height: 400px;
          width: 400px;
          display: flex;
          align-items: center;
          justify-content: start;
          position: relative;
          overflow: hidden;

          & span {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 100%;
            height: 320px;
            width: 320px;
            position: absolute;
            z-index: 2;
          }

          & img {
            border: 5px solid #fff;
            height: 320px;
            width: 320px;
            position: relative;
            z-index: 1;
            border-radius: 100%;
          }
        }
      }

      section#technologies {
        background-color: #f5f7fa;
        height: 100% !important;
        width: 100%;
        color: #1a1a1a;
        padding: 30px;
        padding-top: 100px;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        flex-direction: column;

        & div.box-technologies {
          height: 100%;
          width: 100%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-wrap: wrap;
          padding: 40px;
          gap: 40px;
        }

        & div.table-technologies {
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.518);
          border-radius: 10px;
          height: 450px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          flex-direction: column;
          padding: 30px;
          gap: 2px;
          overflow: hidden;
          transform: transform 0.5s ease;

          & div.technology {
            border-radius: 10px;
            overflow: hidden;
            padding: 10px;
            height: 80%;
            min-width: 300px;
            display: flex;
            justify-content: center;

            & span.title-technology {
              background-color: rgba(0, 0, 0, 0.8);
              height: 100%;
              width: 100%;
              opacity: 0;
              position: absolute;
              color: #fff;
              padding: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: row;
              font-size: 1rem;
              cursor: pointer;
              transition: all 0.3s ease;
            }

            & img {
              border-radius: 10px;
              height: 100%;
              width: 100%;
            }

            &:hover {
              opacity: 100%;
            }

            & img {
              height: 100%;
              width: 300px;
            }
          }
        }
      }
    }

    section#projects {
      background-color: #1a1a1a;
      color: #fff;
      padding: 30px;
      padding-top: 100px;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      flex-direction: column;

      & div.table-projects {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        & div.project {
          border: 2px solid #fff;
          border-radius: 10px;
          overflow: hidden;
          z-index: 1;
          position: relative;

          & span.title-project {
            background-color: rgba(0, 0, 0, 0.8);
            height: 100% !important;
            width: 100%;
            opacity: 0;
            position: absolute;
            color: #fff;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.3s ease;

            & a {
              height: 100%;
              width: 100%;
              color: #fff;
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
            }

            & img {
              border-radius: 10px;
              height: 60px;
              width: 60px;
            }

            &:hover {
              opacity: 100%;
            }
          }

          & img {
            height: 100%;
            width: 300px;
          }
        }
      }
    }
  }

  & footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 30px;

    & hr {
      background-color: #fff;
      border: 2px solid #fff;
      border-radius: 7px;
      margin-top: 10px;
    }

    & div.title-footer {
      margin-bottom: 5px;
    }

    & p {
      line-height: 0.7cm;
    }

    & a {
      color: #fff;
    }

    div.line-contacts {
      width: 100%;
      display: flex;
      justify-content: end;
      text-align: end;
      gap: 30px;

      & a {
        background-color: #fff;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.6s ease;
      }

      a.instaIcon:hover {
        background-color: rgb(198, 10, 10);
      }
      a.zapIcon:hover {
        background-color: green;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  section#home {
    padding-top: 5px;
    font-size: 1rem !important;
    display: flex;
    align-items: start;
    justify-content: center !important;
    flex-direction: row;
    padding: 30px;

    & div.button-home-area {
      height: 70%;
      display: flex;
      align-items: start;
    }

    & article {
      margin: 1px !important;
      padding: 10px !important;

      & p {
        width: 240px !important;
      }
    }

    & div.button-home {
      height: 300px !important;
      width: 140px !important;
      display: flex;
      align-items: center !important;

      & a {
        text-decoration: none;
        border: none;
        border-radius: 6px;
        background-color: #1a1a1a;
        color: #fff;
        padding: 20px;
        cursor: pointer;
        font-size: 0.9rem !important;
        transition: all 0.6s ease;

        &:hover {
          border-radius: 12px;
          transform: scale(0.95);
        }
      }
    }
  }

  section#about {
    background-color: #1a1a1a;
    color: #fff;
    padding: 30px;
    font-size: 1.2rem;
    display: flex;
    align-items: center !important;
    flex-direction: column-reverse !important;

    & article {
      padding: 30px;

      & ul {
        width: 440px;

        & li {
          margin: 18px;
        }
      }
    }

    & div.image-about {
      background-color: #1a1a1a;
      height: 100%;
      width: 400px;
      display: flex;
      align-items: center;
      justify-content: center !important;
      position: relative;
      overflow: hidden;

      & span {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 100%;
        height: 230px !important;
        width: 230px !important;
        position: absolute;
        z-index: 2;
      }

      & img {
        border: 5px solid #fff;
        height: 230px !important;
        width: 230px !important;
        position: relative;
        z-index: 1;
        border-radius: 100%;
      }
    }
  }

  section#projects {
    background-color: #1a1a1a;
    color: #fff;
    height: 100% !important;
    padding: 60px !important;
    padding-top: 60px !important;
    font-size: 1rem;
    display: flex;
    flex-direction: column;

    & div.table-projects {
      height: 100% !important;
      width: 1000px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column !important;
      gap: 30px;
      position: relative;

      & div.project {
        border: 2px solid #fff;
        border-radius: 10px;
        overflow: hidden;
        z-index: 1;
        position: relative;
        height: 100%;
        width: 30%;

        & img {
          height: 300px !important;
          width: 300px !important;
        }

        & span.title-project {
          background-color: rgba(0, 0, 0, 0.8);
          height: 100% !important;
          width: 100%;
          opacity: 0;
          position: absolute;
          color: #fff;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          font-size: 1rem;
          cursor: pointer;
          transition: all 0.3s ease;

          & a {
            height: 100%;
            width: 100%;
            color: #fff;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          }

          & img {
            border-radius: 10px;
            height: 60px !important;
            width: 60px !important;
          }

          &:hover {
            opacity: 100%;
          }
        }

        & img {
          height: 100%;
          width: 300px;
        }
      }
    }
  }
}
